@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.cards {
	display: inline-block;
	width: 100%;
	max-width: func.em(320, var.$font-size-primary);
	margin: func.em(30, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
	text-align: left;
	vertical-align: middle;
}

.cards__inner {
	border-radius: 8px;
	overflow: hidden;
}

.card {
	padding: func.em(48, var.$font-size-primary);
	background-color: var.$color-black;
	color: var.$color-white-light;
}

.card--sedans {
	background-color: var.$color-bright-orange;
}

.card--suvs {
	background-color: var.$color-dark-cyan;
}

.card--luxury {
	background-color: var.$color-very-dark-cyan;
}

.card__img {
	width: func.em(60, var.$font-size-primary);
	height: auto;
	margin-bottom: func.em(35, var.$font-size-primary);
}

.card__title {
	margin-bottom: func.em(25, 40);
	color: var.$color-very-light-gray;
	text-transform: uppercase;
}

.card__btn {
	margin-top: func.em(30, var.$font-size-primary);
}

@media (min-width: 62em) {
	.cards {
		max-width: func.em(920, var.$font-size-primary);
	}

	.cards__inner {
		font-size: 0;
	}

	.card {
		display: inline-block;
		width: 33.33%;
		font-size: 0.9375rem;
	}

	.card__btn {
		margin-top: func.em(75, var.$font-size-primary);
	}
}
